
body {
    font-family: 'Ubuntu',sans-serif;
    margin: 0;
    padding: 0 auto;
}

nav {
    background: #e2e1e1;
    border: 2px magenta solid;
}

.b-title {
    text-align: center;
    color: #143774;
    font-family: 'Lora', serif;
    font-size: 3.375rem;
}

.b-subtitle {
    color: #1792D2;
    font-size: 0.75rem;
    font-weight: 700;
    margin: 0.5em 0;
    font-family: 'Ubuntu',sans-serif;
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 1rem;
    padding: 0;

}

li {
    /* border: 2px magenta solid;*/
    margin: 0 1rem;
    list-style: none;

}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: 0.25em 0;
}

a:hover, 
a:focus {
        color: #1792d2;
        
}

nav a.focus-page {
    border-bottom: 2px gray  solid;
}

@media screen and (max-width: 768px) {
    nav {
        font-size: 80%;
    }
    
}
